.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 50px;
    background-color: rgb(58, 91, 176);
}
.App {
    width: 100%;
    height: auto;
    background-color: rgba(145, 160, 177, 0.28);
}

.blockTodoLists {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.todoLists {
    display: flex;
    flex-wrap: wrap;
}
.footer{
    width: 100%;
    height: 30px;
    background-color: rgb(58, 91, 176);
}